[Desktop Entry]
Encoding=UTF-8
Exec=pycharm
Icon=/opt/pycharm-community-2018.3.4/bin/pycharm.png
Type=Application
Terminal=false
Name=PyCharm
GenericName=pycharm
StartupNotify=false
Categories=Development
